<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- this is header -->
    <div th:fragment="header">
        <title  th:attr="data-custom=#{thymeleaf.app.title}">Shop</title>
        <!--TODO proveriti jel moguce ubaciti ovu vrednost-->

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css"/>
    </div>

</head>

<body>

<!-- this is header -->
<div th:fragment="navbar">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Shop</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-right">
                <!-- show shoppingCart only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/shoppingCart}">Shopping Cart</a></li>
                </ul>
                <!-- show registration only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/registration}">Registration</a></li>
                </ul>
                <!-- show login only if user is not yet authenticated -->
                <ul class="nav navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="active"><a th:href="@{/login}">Login</a></li>
                </ul>
                <!-- show sign out only if user is authenticated -->
                <ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="active"><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>